body{
    margin:0px;
}

.navbar{
    display: flex;
    background-color: rgb(28, 44, 28);
    align-items: center;
    justify-content: space-between;

}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: -700px;
    
}
.navbar a{
    text-decoration: none;
    color: grey;
}
.navbar a:hover{
    color: white;
    padding-bottom: 15px;
    border-bottom: solid green;
}

.navbar1{
    display: flex;
    align-items: center;
    gap: 50px;
    color: #d1c9c9;
    cursor: pointer;

}

.nav-gas{
    display: flex;
    justify-content: start;
}

.mini-photo{
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-left:20px;
    gap:14px;
}

.select{
    display: flex;
    justify-content: start;
}

.max-photo{
    border: 1px solid rgb(184, 178, 178);
    width:830px;
    height: 395px;
    margin-left:20px;
    margin-top: 10px;
    border-radius: 3px;
}


.section2{
    margin-top: -625px;
    border-left: solid rgb(216, 213, 213) 2px;
    padding-left: 40px;
    margin-left: 930px;
    padding-top: 10px;
    height: 679px;
    background-color: #d6d4d4;
}

.edit{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding-right: 80px;
    margin-right: 90px;
    gap:2px;
   
}