body{
    margin:0px;
    position: sticky;
    
}
.navbar{
    display: flex;
    background-color: rgb(28, 44, 28);
    align-items: center;
    justify-content: space-between;

}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: -700px;
    
}
.navbar a{
    text-decoration: none;
    color: grey;
}
.navbar a:hover{
    color: white;
    padding-bottom: 15px;
    border-bottom: solid green;
}
.logo{
    cursor: pointer;
}
.navbar1{
    display: flex;
    align-items: center;
    gap: 50px;
    color: #d1c9c9;
    cursor: pointer;

}

.navbar2{
    display: flex;
    align-items: center;
    gap: 550px;
}

section{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  
}
.div3{
    margin-top: -104px;
    border-left: solid rgb(216, 213, 213) 2px;
    padding-left: 50px;
    margin-right: 42px;
    padding-top: -10px;
}


.table{
    width: 865px;
    font-size:15px;
    
}
.table th{
    border-radius: 5px;
    height: 36px;
    
}


.search-form {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .navbar ul {
        gap: 10px; /* Adjusted gap for smaller screens */
        margin-left: -200px; /* Adjusted margin for smaller screens */
    }

    .navbar2 {
        gap: 10px; /* Adjusted gap for smaller screens */
    }

    .div3 {
        margin-top: 20px; /* Adjusted margin for smaller screens */
        padding-left: 10px; /* Adjusted padding for smaller screens */
        margin-right: 10px; /* Adjusted margin for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .navbar ul {
        gap: 5px; /* Further reduced gap for very small screens */
        margin-left: -100px; /* Further adjusted margin for very small screens */
    }

    .navbar1 {
        gap: 10px; /* Adjusted gap for smaller screens */
    }

    .navbar2 {
        gap: 5px; /* Further reduced gap for very small screens */
    }

    .div3 {
        padding-left: 5px; /* Adjusted padding for very small screens */
        margin-right: 5px; /* Adjusted margin for very small screens */
    }
}